<app-navbar></app-navbar>

<div class="row mt-5 page-border"> 
    <div class="col-md-1"></div>
    <div class="col">
      <h2 class="text-center">Orders</h2>
     
          <table class="order-table table-responsive table-hover">
            <thead>
              <tr>
                <th scope="col text-center">Reference</th>
                <th scope="col text-center">Date</th>
                <th scope="col text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of orders">
                <td>{{o.reference}}</td>
                <td>{{o.date}}</td>
                <td>
                    <div class="d-grid gap-2">
                        <button type="button" routerLink="/order/edit/{{o.id}}" class="btn-edit">Edit</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

    <div class="col-md-1">
        <button type="button" class="btn-add me-4" (click)="createOrder()">Add</button>
    </div>
</div>
