<h2 class="scale-animation text-center">Spring-angular-test</h2>
<h5 class="scale-animation text-center">By Mohammed BEZAÏ</h5>
<div class="home d-flex align-items-center">
   
    <div class="home-d-flex justify-content-center align-items-center m-i-auto">
        <div class="home-card" routerLink="/articles">
            <img src="assets/img/articles_svg.svg" alt="">
            <h2 class="text-center">Articles</h2>
        </div>
        <div class="home-card" routerLink="/orders">
            <img src="assets/img/orders_svg.svg" alt="">
            <h2 class="text-center">orders</h2>
        </div>
    </div>
</div>
