<app-navbar></app-navbar>

<div class="row mt-5 page-border">
    <div class="col-md-1"></div>
    <div class="col">
        <div class="row">
            <h2 class="text-center">Articles</h2>
            <div class="col mt-4 mx-auto" *ngFor="let a of articles">
                <app-article-card name="{{a.name}}" price="{{a.price}}" picture="{{a.picture}}"></app-article-card>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn-add" routerLink="/articles/add">Add</button>
    </div>
</div>