.page-border{
    border: 3px solid #c3224a;
    border-radius: 30px;
    padding: 50px;
    margin: 20px;
}

.btn-add{
    width: 150px;
    background-color: #c3224a;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-add:hover{
  box-shadow: 5px 5px 0px black;
}